@using Microsoft.AspNetCore.Http
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<link href="~/css/inspinia.css" rel="stylesheet" />
<div class="row">
    <div class="form-group">
        <hr />
        <h3>
            <span class="fa-solid fa-user"></span> @localizer["Profile"]
        </h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            Default Panel
        </div>
        <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
        </div>

    </div>
</div>
